[Unit]
Description=GenieACS FS
After=network.target

[Service]
User=genieacs
EnvironmentFile=/opt/genieacs/genieacs.env
ExecStart=/opt/genieacs/bin/genieacs-cwmp
KillMode=process

[Install]
WantedBy=default.target